* {
font-size: 100%;
}

body {
	background: #222222;
    font-size: 14px;
    color: #d4d4d4;
    font-family: Verdana, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    padding-top: 55px;
}

li {
    padding-right: 34px;
}

 nav ul {
    display: flex;
    list-style: none;
}

footer{
    display: flex;
    background-color: #131313;
    padding-top: 60px;
    padding-bottom: 86px;
}
.company div{
    display: flex;
    align-items: center;

}

.company p{
    color: #555555;
}

.company div p{
    margin: auto;
    color:inherit;
}



.advantages ul {
    display: flex;
    list-style: none;
}

@font-face {
	font-family: 'MyWebFont';
	src: url('fonts/Symbol PS Regular.ttf');
}

h2 {
    font-size: 24px;
    font-family: 'MyWebFont';

}

.logo {
    width: 60px;
    margin-left: auto;
    margin-right: 60px;
}

.container {
width: 1040px;
margin: 0 auto;
padding: 0;
}

a{
    text-decoration:none;
    color: inherit;
}
.advantages {
    display: flex;
    flex-wrap: nowrap;
    padding: 86px 0;
    background-color: #131313;
}


.container-right {
    margin-right: auto;
    padding-bottom: 120px;
    margin-top: 23px;
}

button {
    display: flex;
    justify-content: space-around;
    height: 50px;
    border-radius: 25px;
    border: none;
}

.contacts-menu {
	display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

footer li{
    list-style: none;
}

.about-us {
    display: flex;
}

.container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: 80px;
}

.container-left h1 {
    color: white;
    font-size: 45px;
    padding-bottom: 50px;
    padding-top: 71px;
		font-family: 'MyWebFont';
		src: url('fonts/Symbol PS Regular.ttf')  format('truetype');
}

.container-left p {
    padding-bottom: 56px;
}

.container-left button {
}

.container-left button strong {
	margin: auto 0;
}

.container-left button img {
	margin: auto 0;
}

.container-left button {
    background: #ffcb06;
    width: 240px;
}

.container-left button strong {
    margin: auto 0;
}

.about-us {
    display: flex;
}

.all {
    background: white;
    color: black;

}


.content {

    display: flex;
    align-content: space-around;
    padding-top: 84px;
}

.content img {
    padding-right: 80px;
    margin-left: auto;
}

.content div {
    margin-right: auto;
}

.content h2 {
    color: #131313;
    padding-bottom: 54px;
}

.content p {
    color: #222222;
}

.recomended {
    display: flex;
    list-style: none;
    padding-bottom: 56px;
    color: #222222;
}

.recomended .div-1 {
    padding-right: 100px;
}

.recomended h2 {
    padding-left: 39px;
    padding-bottom: 5px;
    padding-top: 55px;
    margin: 0px;
    color: #131313;
}

.all ul {
    list-style: none;
}

.all li::before {
    display: block;
    position: relative;
    content: "";
    color: #ffcb06;
    left: -24px;
    top: 14px;
    width: 8px;
    height: 8px;
    background-color: #ffcb06;
    border-radius: 50%;
}

